

.form_input{
float:left;
margin-left:10px;
}

.form_input input[type="text"],
.form_input input[type="submit"],
.form_input input[type="button"],
.form_input input[type="email"],
.form_input input[type="number"],
.form_input input[type="date"]

{
padding:10px;
width:250px;

}


.widgettitle input[type="text"],
.widgettitle input[type="submit"],
.widgettitle input[type="button"],
.widgettitle input[type="email"],
.widgettitle input[type="number"],
.widgettitle input[type="date"]

{
padding:5px;
width:130px;

}

.widgettitle select{
width:130px;
height:35px;
}
.form_input select {
    width:273px;
	height:42px;
      
}
.form_input input[type="button"],.form_input input[type="submit"]{
background-color:#008040;
color:#fff;
 width:273px;
}

.form_input textarea{
padding:10px;
width:250px;
height:50px;

}

fieldset { border:1px solid #008040; padding:10px;}

legend {  
  margin-left:10px;
  color:#008040;
  width:80%;
  
  }
.widgettitle{
background-color:#DDB545;
height:50px;
}



.stdform{
	
	padding:30px;
	margin:auto;
	margin-top:20px;
	background: #FFF;	

}

.mdbox{
    padding:20px;
    width:27%;
    margin:1%;
    float:left;
    min-width:200px;	
	background: #FFF;	

}
.thebox{
    padding:20px;
	padding-top:5px;
	padding-bottom:5px;
    width:100%;     
	background: #FFF;
 -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;	

}
.largebox textarea{
width:100%;
margin:auto;
height:80px;
}
.smallbox{
    padding:20px;
    width:18%;
	height:40px;
    margin:1%;
    float:left;
    min-width:150px;	
	background: #FFF;	
	
}
.bigbox{
    padding:20px;
    width:60%;
    margin:1%;
    float:left;
    min-width:200px;	
	background: #FFF;	

}
.largebox{   
    width:95%;
    margin:1%;  
    min-width:200px;	
	background: #FFF;	

}
.stdform .inner-wrap{
	padding: 30px;
	background: #F8F8F8;
	border-radius: 6px;
	margin-bottom: 15px;
}
.stdform h1{
	background: #2A88AD;
	padding: 20px 30px 15px 30px;
	margin: -30px -30px 30px -30px;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
}
.stdform h1 > span{
	display: block;
	margin-top: 2px;
	font: 13px Arial, Helvetica, sans-serif;
}
.stdform label{
	display: block;
	font: 13px Arial, Helvetica, sans-serif;
	color: #888;
	margin-bottom: 15px;
}


.stdform select{
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	  width:100%;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}
.stdform input[type="text"],
.stdform input[type="date"],
.stdform input[type="datetime"],
.stdform input[type="email"],
.stdform input[type="number"],
.stdform input[type="search"],
.stdform input[type="time"],
.stdform input[type="url"],
.stdform input[type="password"],
.stdform textarea {
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 15px;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}
.stdform select {
	width: 70%;
	
}
.stdform textarea{
	height: 200px;
	
}
.stdform .section{
	font: normal 20px 'Bitter', serif;
	color: #2A88AD;
	margin-bottom: 5px;
}
.stdform .section span {
	background: #2A88AD;
	padding: 5px 10px 5px 10px;
	position: absolute;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 4px solid #fff;
	font-size: 14px;
	margin-left: -45px;
	color: #fff;
	margin-top: -3px;
}
.stdform input[type="button"], 
.stdform input[type="submit"]{
	background: #2A88AD;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
	font-size: 15px;
}
.stdform input[type="button"]:hover, 
.stdform input[type="submit"]:hover{
	background: #2A6881;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}
.stdform .privacy-policy{
	float: right;
	width: 250px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #4D4D4D;
	margin-top: 10px;
	text-align: right;
}
.table.table-bordered {
font: 9px Arial, Helvetica, sans-serif !important;

}

