/* Reset */
.prioritymobileSkin table, .prioritymobileSkin tbody, .prioritymobileSkin a, .prioritymobileSkin img, .prioritymobileSkin tr, .prioritymobileSkin div, .prioritymobileSkin td, .prioritymobileSkin iframe, .prioritymobileSkin span, .prioritymobileSkin *, .prioritymobileSkin .mceText {border:0; margin:0; padding:0; background:transparent; white-space:nowrap; text-decoration:none; font-weight:normal; cursor:default; color:#000; vertical-align:baseline; width:auto; border-collapse:separate; text-align:left}
.prioritymobileSkin a:hover, .prioritymobileSkin a:link, .prioritymobileSkin a:visited, .prioritymobileSkin a:active {text-decoration:none; font-weight:normal; cursor:default; color:#000}
.prioritymobileSkin table td {vertical-align:middle}

/* Containers */
.prioritymobileSkin table {direction:ltr;background:transparent}
.prioritymobileSkin iframe {display:block;}
.prioritymobileSkin .mceToolbar {height:26px}
.prioritymobileSkin .mceLeft {text-align:left}
.prioritymobileSkin .mceRight {text-align:right}

/* External */
.prioritymobileSkin .mceExternalToolbar {position:absolute; border:1px solid #CCC; border-bottom:0; display:none;}
.prioritymobileSkin .mceExternalToolbar td.mceToolbar {padding-right:13px;}
.prioritymobileSkin .mceExternalClose {position:absolute; top:3px; right:3px; width:7px; height:7px; background:url(../../img/icons.gif) -820px 0}

/* Layout */
.prioritymobileSkin table.mceLayout {border:0; border-left:1px solid #CCC; border-right:1px solid #CCC}
.prioritymobileSkin table.mceLayout tr.mceFirst td {border-top:1px solid #CCC}
.prioritymobileSkin table.mceLayout tr.mceLast td {border-bottom:1px solid #CCC}
.prioritymobileSkin table.mceToolbar, .prioritymobileSkin tr.mceFirst .mceToolbar tr td, .prioritymobileSkin tr.mceLast .mceToolbar tr td {border:0; margin:0; padding:0;}
.prioritymobileSkin td.mceToolbar {background:#f7f7f7; padding: 10px; vertical-align:top}
.prioritymobileSkin .mceIframeContainer {border-top:1px solid #CCC; border-bottom:1px solid #CCC}
.prioritymobileSkin .mceStatusbar {background:#F0F0EE; font-family:"Helvetica Neue", Arial, Helvetica, sans-serif; font-size:9pt; line-height:16px; overflow:visible; color:#000; display:block; height:20px; padding: 5px; color: #666; }
.prioritymobileSkin .mceStatusbar div {float:left; margin:2px}
.prioritymobileSkin .mceStatusbar a.mceResize {display:block; float:right; background:url(../../img/icons.gif) -800px 0; width:20px; height:20px; cursor:se-resize; outline:0}
.prioritymobileSkin .mceStatusbar a:hover {text-decoration:underline}
.prioritymobileSkin table.mceToolbar {margin-bottom:5px}
.prioritymobileSkin table.mceToolbar:last-child { margin-bottom: 0}
.prioritymobileSkin span.mceIcon, .prioritymobileSkin img.mceIcon {display:block; width:20px; height:20px}
.prioritymobileSkin .mceIcon {background:url(../../img/icons.gif) no-repeat 20px 20px}
.prioritymobileSkin td.mceCenter {text-align:center;}
.prioritymobileSkin td.mceCenter table {margin:0 auto; text-align:left;}
.prioritymobileSkin td.mceRight table {margin:0 0 0 auto;}

/* Button */
.prioritymobileSkin .mceButton {display:block; border:1px solid #ccc; border-bottom: 2px solid #ddd; width:20px; height:20px; padding: 5px; margin-right:3px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; background: #fcfcfc; -moz-box-shadow: inset 0 1px 0 #fff; }
.prioritymobileSkin a.mceButtonEnabled:hover {border:1px solid #bbb; background-color:#ddd; -moz-box-shadow: inset 0 1px 0 #eee; }
.prioritymobileSkin a.mceButtonActive, .prioritymobileSkin a.mceButtonSelected {border:1px solid #bbb; border-bottom: 2px solid #ddd; background-color:#eee}
.prioritymobileSkin .mceButtonDisabled .mceIcon {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.prioritymobileSkin .mceButtonLabeled {width:auto}
.prioritymobileSkin .mceButtonLabeled span.mceIcon {float:left}
.prioritymobileSkin span.mceButtonLabel {display:block; font-size:10px; padding:4px 6px 0 22px; font-family:Tahoma,Verdana,Arial,Helvetica}
.prioritymobileSkin .mceButtonDisabled .mceButtonLabel {color:#888}

/* Separator */
.prioritymobileSkin .mceSeparator {display:block; background:url(../../img/icons.gif) -180px 0; width:2px; height:20px; margin:2px 2px 0 4px; visibility: hidden; opacity: 0; margin-right: 5px; }

/* ListBox */
.prioritymobileSkin .mceListBox, .prioritymobileSkin .mceListBox a {display:block}
.prioritymobileSkin .mceListBox .mceText {padding:5px 7px; width:70px; text-align:left; border:1px solid #CCC; border-bottom: 2px solid #ddd; border-right:0; background:#fcfcfc; font-family:"Helvetica Neue", Arial, Helvetica, sans-serif; font-size:12px; color:#666; height:20px; line-height:20px; overflow:hidden; -moz-border-radius: 2px 0 0 2px; -webkit-border-radius: 2px 0 0 2px; border-radius: 2px 0 0 2px; }
.prioritymobileSkin .mceListBox .mceOpen {width:9px; height:20px; background:url(../../img/arrow.png) no-repeat center center; margin-right:5px; border:1px solid #CCC; padding: 5px 3px; border-bottom: 2px solid #ddd; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
.prioritymobileSkin table.mceListBoxEnabled:hover .mceText, .prioritymobileSkin .mceListBoxHover .mceText, .prioritymobileSkin .mceListBoxSelected .mceText {border:1px solid #bbb; border-right:0; background:#FFF}
.prioritymobileSkin table.mceListBoxEnabled:hover .mceOpen, .prioritymobileSkin .mceListBoxHover .mceOpen, .prioritymobileSkin .mceListBoxSelected .mceOpen {background-color:#FFF; border:1px solid #A2ABC0}
.prioritymobileSkin .mceListBoxDisabled a.mceText {color:gray; background-color:transparent;}
.prioritymobileSkin .mceListBoxMenu {overflow:auto; overflow-x:hidden}
.prioritymobileSkin .mceOldBoxModel .mceListBox .mceText {height:22px}
.prioritymobileSkin .mceOldBoxModel .mceListBox .mceOpen {width:11px; height:22px;}
.prioritymobileSkin select.mceNativeListBox {font-family:"Helvetica Neue", Arial, Helvetica, sans-serif; font-size:7pt; background:#F0F0EE; border:1px solid gray; margin-right:2px;}

/* SplitButton */
.prioritymobileSkin .mceSplitButton {width:32px; height:20px; direction:ltr}
.prioritymobileSkin .mceSplitButton a, .prioritymobileSkin .mceSplitButton span {height:20px; display:block}
.prioritymobileSkin .mceSplitButton a.mceAction {width:20px; border:1px solid #ccc; border-bottom: 2px solid #ddd; border-right:0; padding: 5px; background: #fcfcfc; -moz-border-radius: 0; -webkit-border-radius: 0 border-radius: 0; -moz-box-shadow: inset 0 1px 0 #fff; -webkit-box-shadow: inset 0 1px 0 #fff; box-shadow: inset 0 1px 0 #fff; }
.prioritymobileSkin .mceSplitButton span.mceAction {width:20px; background-image:url(../../img/icons.gif);}
.prioritymobileSkin .mceSplitButton a.mceOpen {width:9px; background:url(../../img/arrow.png) no-repeat center center; border:1px solid #ccc; border-bottom: 2px solid #ddd; padding: 5px 2px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; margin-right: 3px; -moz-box-shadow: inset 0 1px 0 #fff; -webkit-box-shadow: inset 0 1px 0 #fff; box-shadow: inset 0 1px 0 #fff; }
.prioritymobileSkin .mceSplitButton span.mceOpen {display:none}
.prioritymobileSkin table.mceSplitButtonEnabled:hover a.mceAction, .prioritymobileSkin .mceSplitButtonHover a.mceAction, .prioritymobileSkin .mceSplitButtonSelected a.mceAction {border:1px solid #bbb; border-right:0; background-color:#ddd; -moz-box-shadow: inset 0 1px 0 #eee; -webkit-box-shadow: inset 0 1px 0 #eee; box-shadow: inset 0 1px 0 #eee; }
.prioritymobileSkin table.mceSplitButtonEnabled:hover a.mceOpen, .prioritymobileSkin .mceSplitButtonHover a.mceOpen, .prioritymobileSkin .mceSplitButtonSelected a.mceOpen {background-color:#ddd; border:1px solid #bbb; -moz-box-shadow: inset 0 1px 0 #eee; -webkit-box-shadow: inset 0 1px 0 #eee; box-shadow: inset 0 1px 0 #eee;}
.prioritymobileSkin .mceSplitButtonDisabled .mceAction, .prioritymobileSkin .mceSplitButtonDisabled a.mceOpen {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.prioritymobileSkin .mceSplitButtonActive a.mceAction {border:1px solid #bbb; background-color:#eee; border-bottom: 2px solid #ddd; }
.prioritymobileSkin .mceSplitButtonActive a.mceOpen {border-left:0;}

/* ColorSplitButton */
.prioritymobileSkin div.mceColorSplitMenu table {background:#FFF; border:1px solid gray}
.prioritymobileSkin .mceColorSplitMenu td {padding:2px}
.prioritymobileSkin .mceColorSplitMenu a {display:block; width:9px; height:9px; overflow:hidden; border:1px solid #808080}
.prioritymobileSkin .mceColorSplitMenu td.mceMoreColors {padding:1px 3px 1px 1px}
.prioritymobileSkin .mceColorSplitMenu a.mceMoreColors {width:100%; height:auto; text-align:center; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; line-height:20px; border:1px solid #FFF}
.prioritymobileSkin .mceColorSplitMenu a.mceMoreColors:hover {border:1px solid #0A246A; background-color:#B6BDD2}
.prioritymobileSkin a.mceMoreColors:hover {border:1px solid #0A246A}
.prioritymobileSkin .mceColorPreview {margin-left:2px; width:16px; height:4px; overflow:hidden; background:#9a9b9a}
.prioritymobileSkin .mce_forecolor span.mceAction, .prioritymobileSkin .mce_backcolor span.mceAction {overflow:hidden; height:16px}

/* Menu */
.prioritymobileSkin .mceMenu {position:absolute; left:0; top:0; z-index:1000; border:1px solid #D4D0C8; direction:ltr}
.prioritymobileSkin .mceNoIcons span.mceIcon {width:0;}
.prioritymobileSkin .mceNoIcons a .mceText {padding-left:10px}
.prioritymobileSkin .mceMenu table {background:#FFF}
.prioritymobileSkin .mceMenu a, .prioritymobileSkin .mceMenu span, .prioritymobileSkin .mceMenu {display:block}
.prioritymobileSkin .mceMenu td {height:20px}
.prioritymobileSkin .mceMenu a {position:relative;padding:3px 0 4px 0}
.prioritymobileSkin .mceMenu .mceText {position:relative; display:block; font-family:"Helvetica Neue", Arial, Helvetica, sans-serif; color:#000; cursor:default; margin:0; padding:0 25px 0 25px; display:block}
.prioritymobileSkin .mceMenu span.mceText, .prioritymobileSkin .mceMenu .mcePreview {font-size:11px}
.prioritymobileSkin .mceMenu pre.mceText {font-family:Monospace}
.prioritymobileSkin .mceMenu .mceIcon {position:absolute; top:0; left:0; width:22px;}
.prioritymobileSkin .mceMenu .mceMenuItemEnabled a:hover {background-color:#333; }
.prioritymobileSkin .mceMenu .mceMenuItemEnabled a:hover .mceText, .prioritymobileSkin .mceMenu .mceMenuItemActive .mceText { color: #fff; }
.prioritymobileSkin td.mceMenuItemSeparator {background:#DDD; height:1px}
.prioritymobileSkin .mceMenuItemTitle a {border:0; background:#EEE; border-bottom:1px solid #DDD}
.prioritymobileSkin .mceMenuItemTitle span.mceText {color:#000; font-weight:bold; padding-left:4px}
.prioritymobileSkin .mceMenuItemDisabled .mceText {color:#888}
.prioritymobileSkin .mceMenuItemSelected .mceIcon {background:url(img/menu_check.gif)}
.prioritymobileSkin .mceNoIcons .mceMenuItemSelected a {background:url(img/menu_arrow.gif) no-repeat -6px center}
.prioritymobileSkin .mceMenu span.mceMenuLine {display:none}
.prioritymobileSkin .mceMenuItemSub a {background:url(img/menu_arrow.gif) no-repeat top right;}
.prioritymobileSkin .mceMenuItem td, .prioritymobileSkin .mceMenuItem th {line-height: normal}

/* Progress,Resize */
.prioritymobileSkin .mceBlocker {position:absolute; left:0; top:0; z-index:1000; opacity:0.5; -ms-filter:'alpha(opacity=50)'; filter:alpha(opacity=50); background:#FFF}
.prioritymobileSkin .mceProgress {position:absolute; left:0; top:0; z-index:1001; background:url(img/progress.gif) no-repeat; width:32px; height:32px; margin:-16px 0 0 -16px}

/* Rtl */
.mceRtl .mceListBox .mceText {text-align: right; padding: 0 4px 0 0}
.mceRtl .mceMenuItem .mceText {text-align: right}

/* Formats */
.prioritymobileSkin .mce_formatPreview a {font-size:10px}
.prioritymobileSkin .mce_p span.mceText {}
.prioritymobileSkin .mce_address span.mceText {font-style:italic}
.prioritymobileSkin .mce_pre span.mceText {font-family:monospace}
.prioritymobileSkin .mce_h1 span.mceText {font-weight:bolder; font-size: 2em}
.prioritymobileSkin .mce_h2 span.mceText {font-weight:bolder; font-size: 1.5em}
.prioritymobileSkin .mce_h3 span.mceText {font-weight:bolder; font-size: 1.17em}
.prioritymobileSkin .mce_h4 span.mceText {font-weight:bolder; font-size: 1em}
.prioritymobileSkin .mce_h5 span.mceText {font-weight:bolder; font-size: .83em}
.prioritymobileSkin .mce_h6 span.mceText {font-weight:bolder; font-size: .75em}

/* Theme */
.prioritymobileSkin span.mce_bold {background-position:0 0}
.prioritymobileSkin span.mce_italic {background-position:-60px 0}
.prioritymobileSkin span.mce_underline {background-position:-140px 0}
.prioritymobileSkin span.mce_strikethrough {background-position:-120px 0}
.prioritymobileSkin span.mce_undo {background-position:-160px 0}
.prioritymobileSkin span.mce_redo {background-position:-100px 0}
.prioritymobileSkin span.mce_cleanup {background-position:-40px 0}
.prioritymobileSkin span.mce_bullist {background-position:-20px 0}
.prioritymobileSkin span.mce_numlist {background-position:-80px 0}
.prioritymobileSkin span.mce_justifyleft {background-position:-460px 0}
.prioritymobileSkin span.mce_justifyright {background-position:-480px 0}
.prioritymobileSkin span.mce_justifycenter {background-position:-420px 0}
.prioritymobileSkin span.mce_justifyfull {background-position:-440px 0}
.prioritymobileSkin span.mce_anchor {background-position:-200px 0}
.prioritymobileSkin span.mce_indent {background-position:-400px 0}
.prioritymobileSkin span.mce_outdent {background-position:-540px 0}
.prioritymobileSkin span.mce_link {background-position:-500px 0}
.prioritymobileSkin span.mce_unlink {background-position:-640px 0}
.prioritymobileSkin span.mce_sub {background-position:-600px 0}
.prioritymobileSkin span.mce_sup {background-position:-620px 0}
.prioritymobileSkin span.mce_removeformat {background-position:-580px 0}
.prioritymobileSkin span.mce_newdocument {background-position:-520px 0}
.prioritymobileSkin span.mce_image {background-position:-380px 0}
.prioritymobileSkin span.mce_help {background-position:-340px 0}
.prioritymobileSkin span.mce_code {background-position:-260px 0}
.prioritymobileSkin span.mce_hr {background-position:-360px 0}
.prioritymobileSkin span.mce_visualaid {background-position:-660px 0}
.prioritymobileSkin span.mce_charmap {background-position:-240px 0}
.prioritymobileSkin span.mce_paste {background-position:-560px 0}
.prioritymobileSkin span.mce_copy {background-position:-700px 0}
.prioritymobileSkin span.mce_cut {background-position:-680px 0}
.prioritymobileSkin span.mce_blockquote {background-position:-220px 0}
.prioritymobileSkin .mce_forecolor span.mceAction {background-position:-720px 0}
.prioritymobileSkin .mce_backcolor span.mceAction {background-position:-760px 0}
.prioritymobileSkin span.mce_forecolorpicker {background-position:-720px 0}
.prioritymobileSkin span.mce_backcolorpicker {background-position:-760px 0}

/* Plugins */
.prioritymobileSkin span.mce_advhr {background-position:-0px -20px}
.prioritymobileSkin span.mce_ltr {background-position:-20px -20px}
.prioritymobileSkin span.mce_rtl {background-position:-40px -20px}
.prioritymobileSkin span.mce_emotions {background-position:-60px -20px}
.prioritymobileSkin span.mce_fullpage {background-position:-80px -20px}
.prioritymobileSkin span.mce_fullscreen {background-position:-100px -20px}
.prioritymobileSkin span.mce_iespell {background-position:-120px -20px}
.prioritymobileSkin span.mce_insertdate {background-position:-140px -20px}
.prioritymobileSkin span.mce_inserttime {background-position:-160px -20px}
.prioritymobileSkin span.mce_absolute {background-position:-180px -20px}
.prioritymobileSkin span.mce_backward {background-position:-200px -20px}
.prioritymobileSkin span.mce_forward {background-position:-220px -20px}
.prioritymobileSkin span.mce_insert_layer {background-position:-240px -20px}
.prioritymobileSkin span.mce_insertlayer {background-position:-260px -20px}
.prioritymobileSkin span.mce_movebackward {background-position:-280px -20px}
.prioritymobileSkin span.mce_moveforward {background-position:-300px -20px}
.prioritymobileSkin span.mce_media {background-position:-320px -20px}
.prioritymobileSkin span.mce_nonbreaking {background-position:-340px -20px}
.prioritymobileSkin span.mce_pastetext {background-position:-360px -20px}
.prioritymobileSkin span.mce_pasteword {background-position:-380px -20px}
.prioritymobileSkin span.mce_selectall {background-position:-400px -20px}
.prioritymobileSkin span.mce_preview {background-position:-420px -20px}
.prioritymobileSkin span.mce_print {background-position:-440px -20px}
.prioritymobileSkin span.mce_cancel {background-position:-460px -20px}
.prioritymobileSkin span.mce_save {background-position:-480px -20px}
.prioritymobileSkin span.mce_replace {background-position:-500px -20px}
.prioritymobileSkin span.mce_search {background-position:-520px -20px}
.prioritymobileSkin span.mce_styleprops {background-position:-560px -20px}
.prioritymobileSkin span.mce_table {background-position:-580px -20px}
.prioritymobileSkin span.mce_cell_props {background-position:-600px -20px}
.prioritymobileSkin span.mce_delete_table {background-position:-620px -20px}
.prioritymobileSkin span.mce_delete_col {background-position:-640px -20px}
.prioritymobileSkin span.mce_delete_row {background-position:-660px -20px}
.prioritymobileSkin span.mce_col_after {background-position:-680px -20px}
.prioritymobileSkin span.mce_col_before {background-position:-700px -20px}
.prioritymobileSkin span.mce_row_after {background-position:-720px -20px}
.prioritymobileSkin span.mce_row_before {background-position:-740px -20px}
.prioritymobileSkin span.mce_merge_cells {background-position:-760px -20px}
.prioritymobileSkin span.mce_table_props {background-position:-980px -20px}
.prioritymobileSkin span.mce_row_props {background-position:-780px -20px}
.prioritymobileSkin span.mce_split_cells {background-position:-800px -20px}
.prioritymobileSkin span.mce_template {background-position:-820px -20px}
.prioritymobileSkin span.mce_visualchars {background-position:-840px -20px}
.prioritymobileSkin span.mce_abbr {background-position:-860px -20px}
.prioritymobileSkin span.mce_acronym {background-position:-880px -20px}
.prioritymobileSkin span.mce_attribs {background-position:-900px -20px}
.prioritymobileSkin span.mce_cite {background-position:-920px -20px}
.prioritymobileSkin span.mce_del {background-position:-940px -20px}
.prioritymobileSkin span.mce_ins {background-position:-960px -20px}
.prioritymobileSkin span.mce_pagebreak {background-position:0 -40px}
.prioritymobileSkin span.mce_restoredraft {background-position:-20px -40px}
.prioritymobileSkin span.mce_spellchecker {background-position:-540px -20px}
.prioritymobileSkin span.mce_visualblocks {background-position: -40px -40px}
