/* prioritymobile */

/* Reset */
.prioritymobile, .prioritymobile div, .prioritymobile span, .prioritymobile a {vertical-align:baseline; text-align:left; position:absolute; border:0; padding:0; margin:0; background:transparent; font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; font-size:11px; color:#000; text-decoration:none; font-weight:normal; width:auto; height:auto; overflow:hidden; display:block}

/* General */
.prioritymobile {position:absolute; direction:ltr; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; box-shadow: 1px 1px 10px rgba(0,0,0,0.2); -webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.2); box-shadow: 1px 1px 10px rgba(0,0,0,0.2); }
.prioritymobile .mceWrapper {position:static}
.mceEventBlocker {position:fixed; left:0; top:0; background:url(img/horizontal.gif) no-repeat 0 -75px; width:100%; height:100%}
.prioritymobile .mcePlaceHolder {border:1px solid #000; background:#888; top:0; left:0; opacity:0.5; -ms-filter:'alpha(opacity=50)'; filter:alpha(opacity=50)}
.prioritymobile_modalBlocker {position:fixed; left:0; top:0; width:100%; height:100%; background:#FFF; opacity:0.6; -ms-filter:'alpha(opacity=60)'; filter:alpha(opacity=60); display:none}

/* Top */
.prioritymobile .mceTop, .prioritymobile .mceTop div {top:0; width:100%; height:30px}
.prioritymobile .mceTop .mceLeft {width:6px; background:url(img/corners.gif)}
.prioritymobile .mceTop .mceCenter {right:6px; width:100%; height:23px; background:url(img/horizontal.gif) 12px 0; clip:rect(auto auto auto 12px)}
.prioritymobile .mceTop .mceRight {right:0; width:6px; height:23px; background:url(img/corners.gif) -12px 0}
.prioritymobile .mceTop span {width:100%; text-align:center; vertical-align:middle; line-height:23px; font-weight:bold}
.prioritymobile .mceFocus .mceTop .mceLeft {background:#333}
.prioritymobile .mceFocus .mceTop .mceCenter {background:#333}
.prioritymobile .mceFocus .mceTop .mceRight {background:#333}
.prioritymobile .mceFocus .mceTop span {color:#FFF}

/* Middle */
.prioritymobile .mceMiddle, .prioritymobile .mceMiddle div {top:0}
.prioritymobile .mceMiddle {width:100%; height:100%; clip:rect(23px auto auto auto)}
.prioritymobile .mceMiddle .mceLeft {left:0; width:5px; height:100%; background:#fff; border-left: 1px solid #ccc; }
.prioritymobile .mceMiddle span {top:23px; left:5px; width:100%; height:100%; background:#FFF}
.prioritymobile .mceMiddle .mceRight {right:0; width:5px; height:100%; background:#fff; border-right: 1px solid #ccc; }

/* Bottom */
.prioritymobile .mceBottom, .prioritymobile .mceBottom div {height:6px}
.prioritymobile .mceBottom {left:0; bottom:0; width:100%; border-bottom: 1px solid #ccc;}
.prioritymobile .mceBottom div {top:0}
.prioritymobile .mceBottom .mceLeft {left:0; width:5px; background:#fff; border-left: 1px solid #ccc; border-bottom: 1px solid #ccc; }
.prioritymobile .mceBottom .mceCenter {left:5px; width:100%; background:#fff; border-bottom: 1px solid #ccc;}
.prioritymobile .mceBottom .mceRight {right:0; width:5px; background: #fff; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; }
.prioritymobile .mceBottom span {display:none}
.prioritymobile .mceStatusbar .mceBottom, .prioritymobile .mceStatusbar .mceBottom div {height:23px}
.prioritymobile .mceStatusbar .mceBottom .mceLeft {background:url(img/corners.gif) -29px 0}
.prioritymobile .mceStatusbar .mceBottom .mceCenter {background:url(img/horizontal.gif) 0 -52px}
.prioritymobile .mceStatusbar .mceBottom .mceRight {background:url(img/corners.gif) -24px 0}
.prioritymobile .mceStatusbar .mceBottom span {display:block; left:7px; font-family:Arial, Verdana; font-size:11px; line-height:23px}

/* Actions */
.prioritymobile a {width:29px; height:16px; top:3px;}
.prioritymobile .mceClose {right:6px; background:url(img/buttons.gif) -87px 0}
.prioritymobile .mceMin {display:none; right:68px; background:url(img/buttons.gif) 0 0}
.prioritymobile .mceMed {display:none; right:37px; background:url(img/buttons.gif) -29px 0}
.prioritymobile .mceMax {display:none; right:37px; background:url(img/buttons.gif) -58px 0}
.prioritymobile .mceMove {display:none;width:100%;cursor:move;background:url(img/corners.gif) no-repeat -100px -100px}
.prioritymobile .mceMovable .mceMove {display:block}
.prioritymobile .mceFocus .mceClose {right:6px; background:url(img/buttons.gif) -87px -16px}
.prioritymobile .mceFocus .mceMin {right:68px; background:url(img/buttons.gif) 0 -16px}
.prioritymobile .mceFocus .mceMed {right:37px; background:url(img/buttons.gif) -29px -16px}
.prioritymobile .mceFocus .mceMax {right:37px; background:url(img/buttons.gif) -58px -16px}
.prioritymobile .mceFocus .mceClose:hover {right:6px; background:url(img/buttons.gif) -87px -32px}
.prioritymobile .mceFocus .mceClose:hover {right:6px; background:url(img/buttons.gif) -87px -32px}
.prioritymobile .mceFocus .mceMin:hover {right:68px; background:url(img/buttons.gif) 0 -32px}
.prioritymobile .mceFocus .mceMed:hover {right:37px; background:url(img/buttons.gif) -29px -32px}
.prioritymobile .mceFocus .mceMax:hover {right:37px; background:url(img/buttons.gif) -58px -32px}

/* Resize */
.prioritymobile .mceResize {top:auto; left:auto; display:none; width:5px; height:5px; background:url(img/horizontal.gif) no-repeat 0 -75px}
.prioritymobile .mceResizable .mceResize {display:block}
.prioritymobile .mceResizable .mceMin, .prioritymobile .mceMax {display:none}
.prioritymobile .mceMinimizable .mceMin {display:block}
.prioritymobile .mceMaximizable .mceMax {display:block}
.prioritymobile .mceMaximized .mceMed {display:block}
.prioritymobile .mceMaximized .mceMax {display:none}
.prioritymobile a.mceResizeN {top:0; left:0; width:100%; cursor:n-resize}
.prioritymobile a.mceResizeNW {top:0; left:0; cursor:nw-resize}
.prioritymobile a.mceResizeNE {top:0; right:0; cursor:ne-resize}
.prioritymobile a.mceResizeW {top:0; left:0; height:100%; cursor:w-resize;}
.prioritymobile a.mceResizeE {top:0; right:0; height:100%; cursor:e-resize}
.prioritymobile a.mceResizeS {bottom:0; left:0; width:100%; cursor:s-resize}
.prioritymobile a.mceResizeSW {bottom:0; left:0; cursor:sw-resize}
.prioritymobile a.mceResizeSE {bottom:0; right:0; cursor:se-resize}

/* Alert/Confirm */
.prioritymobile .mceButton {font-weight:bold; bottom:10px; width:80px; height:30px; background:url(img/button.gif); line-height:30px; vertical-align:middle; text-align:center; outline:0}
.prioritymobile .mceMiddle .mceIcon {left:15px; top:35px; width:32px; height:32px}
.prioritymobile .mceAlert .mceMiddle span, .prioritymobile .mceConfirm .mceMiddle span {background:transparent;left:60px; top:35px; width:320px; height:50px; overflow:auto; white-space:normal; color: #666;}
.prioritymobile a:hover {font-weight:bold;}
.prioritymobile .mceAlert .mceMiddle, .prioritymobile .mceConfirm .mceMiddle {background:#fff}
.prioritymobile .mceAlert .mceOk {left:50%; top:auto; margin-left: -40px;border: 1px solid #f0882c; background: #fb9337; color: #fff;}
.prioritymobile .mceAlert .mceIcon {background:url(img/alert.gif)}
.prioritymobile .mceConfirm .mceOk {left:50%; top:auto; margin-left: -90px; border: 1px solid #f0882c; background: #fb9337; color: #fff;}
.prioritymobile .mceConfirm .mceCancel {left:50%; top:auto;border: 1px solid #ccc; background: #eee; color: #666;}
.prioritymobile .mceConfirm .mceOk, .prioritymobile .mceConfirm .mceCancel { -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px}
.prioritymobile .mceConfirm .mceIcon {background:url(img/confirm.gif)}
