<div class="mediaWrapper row-fluid">
	<div class="span5 imginfo">
    	<img src="images/photos/audio.png" alt="" class="imgpreview img-polaroid" />
        <p style="margin-top: 10px;"><a href="" class="btn"><span class="icon-pencil"></span> Edit Audio</a></p>
        <p>
        	<strong>Filename:</strong> Song1.mp3 <br />
        	<strong>File Type:</strong> audio/mp3 <br />
        	<strong>Upload Date:</strong> Dec 21, 2012 <br />
        	<strong>Duration:</strong> 1:30 <br />
        	<strong>Uploaded by:</strong> <a href="">prioritymobile</a>
        </p>
    </div><!--span3-->
    <div class="span7 imgdetails">
    	<p>
        	<label>Name:</label>
            <input type="text" class="input-block-level" value="Movie1.avi" />
        </p>
        <p>
        	<label>Caption:</label>
            <input type="text" class="input-block-level" value="cat" />
        </p>
        <p>
        	<label>Description:</label>
            <textarea class="input-block-level"></textarea>
        </p>
        <p>
        	<label>Link URL:</label>
            <input type="text" class="input-block-level" value="http://prioritymobile.co.ke/themes/demo/webpage/shamcey/audio.mp3" />
        </p>
        <br />
        <p>
        	<button class="btn btn-primary"><span class="icon-ok icon-white"></span> Save Changes</button>
			<button class="btn"><span class="icon-trash"></span> Delete</button>
        </p>
    </div><!--span3-->
</div><!--imageWrapper-->
