<div class="mediaWrapper row-fluid">
	<div class="span5 imginfo">
        <p style="margin-top: 10px;">
        	<a href="" class="btn"><span class="icon-pencil"></span> Edit Document</a> &nbsp; 
        	<a href="" class="btn"><span class="icon-download"></span> Download</a>    
        </p>
        <p>
        	<strong>Filename:</strong> Tutorial1.pdf <br />
        	<strong>File Type:</strong> application/pdf <br />
        	<strong>Upload Date:</strong> Dec 21, 2012 <br />
        	<strong>Pages:</strong> 231 <br />
        	<strong>Uploaded by:</strong> <a href="">prioritymobile</a>
        </p>
    </div><!--span3-->
    <div class="span7 imgdetails">
    	<p>
        	<label>Name:</label>
            <input type="text" class="input-block-level" value="Tutorial1.pdf" />
        </p>
        <p>
        	<label>Caption:</label>
            <input type="text" class="input-block-level" value="Tutorial" />
        </p>
        <p>
        	<label>Description:</label>
            <textarea class="input-block-level"></textarea>
        </p>
        <p>
        	<label>Link URL:</label>
            <input type="text" class="input-block-level" value="http://prioritymobile.co.ke/themes/demo/webpage/shamcey/doc.pdf" />
        </p>
        <br />
        <p>
        	<button class="btn btn-primary"><span class="icon-ok icon-white"></span> Save Changes</button>
			<button class="btn"><span class="icon-trash"></span> Delete</button>
        </p>
    </div><!--span3-->
</div><!--imageWrapper-->
