<div class="mediaWrapper row-fluid">
	<div class="span5 imginfo">
    	<img src="images/photos/1.png" alt="" class="imgpreview img-polaroid" />
        <p style="margin-top: 10px;">
			<a href="" class="btn btn-small"><span class="icon-pencil"></span> Edit Image</a>
			<a href="" class="btn btn-small"><span class="icon-eye-open"></span> View Original Size</a> 
		  </p>
        <p>
        	<strong>Filename:</strong> Image1.png <br />
        	<strong>File Type:</strong> image/png <br />
        	<strong>Upload Date:</strong> April 04, 2013 <br />
        	<strong>Resolution:</strong> 500x450 <br />
        	<strong>Uploaded by:</strong> <a href="">prioritymobile</a>
        </p>
    </div><!--span3-->
    <div class="span7 imgdetails">
    	<p>
        	<label>Name:</label>
            <input type="text" class="input-block-level" value="Girl1.png" />
        </p>
        <p>
        	<label>Alt Text:</label>
            <input type="text" class="input-block-level" value="girlinparty" />
        </p>
        <p>
        	<label>Description:</label>
            <textarea class="input-block-level"></textarea>
        </p>
        <p>
        	<label>Link URL:</label>
            <input type="text" class="input-block-level" value="images/photos/1.png" />
        </p>
        <br />
        <p>
        	<button class="btn btn-primary"><span class="icon-ok icon-white"></span> Save Changes</button>
			<button class="btn"><span class="icon-trash"></span> Delete</button>
        </p>
    </div><!--span3-->
</div><!--imageWrapper-->
